In [1]:
import openpyxl
import faker

print(f'Import openpyxl V{openpyxl.__version__}')
fake = faker.Faker(locale='zh_CN')

Import openpyxl V3.0.10

In [2]:
wb = openpyxl.Workbook(write_only=True) # create a new excel workbook
basic = wb.create_sheet('Basic') # create basic info sheet
addr = wb.create_sheet('Address') # create address sheet

In [3]:
print('prepare data')

fake_people = [
    ['id', 'name', 'city', 'company', 'job', 'phone_number', 'post_code', 'time'],
] + [
    [i+1, fake.name(), fake.city(), fake.company(), fake.job(), fake.phone_number(), fake.postcode(), fake.iso8601()] for i in range(1000)
]

addresses = [
    ['id', 'address'],
] + [
    [i+1, fake.address()] for i in range(1000)
]

prepare data

In [4]:
print('add data into sheets')

for row in fake_people:
    basic.append(row)

for row in addresses:
    addr.append(row)

add data into sheets

In [5]:
wb.save('people.xlsx')
print('Save to people.xlsx')

Save to people.xlsx

In [6]:
import pandas as pd

print(f'Import pandas V{pd.__version__} to read excel file')

Import pandas V1.5.2 to read excel file

In [7]:
basic_info = pd.read_excel('people.xlsx', sheet_name='Basic')
addr_info = pd.read_excel('people.xlsx', sheet_name='Address')

In [8]:
basic_info.head()

,id,name,city,company,job,phone_number,post_code,time
0,1,李宁,秀华县,恒聪百汇传媒有限公司,项目执行/协调人员,13749651862,105226,2014-02-14T04:19:16
1,2,王志强,娟市,数字100科技有限公司,收货员,13073879116,758674,2005-05-03T02:46:52
2,3,康琳,涛市,商软冠联传媒有限公司,猎头/人才中介,18612926156,663199,1999-12-30T00:54:12
3,4,卢颖,福州县,通际名联网络有限公司,家用电器/数码产品研发,15096927123,492538,1988-11-17T07:28:52
4,5,邹鑫,杭州市,华成育卓传媒有限公司,医疗器械销售代表,18995281613,533199,1971-09-09T22:58:01

In [9]:
addr_info.head()

   id                   address
0   1    湖北省马鞍山市六枝特昆明路B座 559185
1   2        北京市龙市海陵陈街p座 310672
2   3     上海市石家庄市六枝特徐街U座 522790
3   4       北京市银川县西夏万街p座 905765
4   5  宁夏回族自治区东莞市长寿西宁路w座 883356

In [10]:
print('merge and save to new file')
merged = basic_info.merge(addr_info, how='left', on='id')
merged.head()

merge and save to new file

,id,name,city,company,job,phone_number,post_code,time,address
0,1,李宁,秀华县,恒聪百汇传媒有限公司,项目执行/协调人员,13749651862,105226,2014-02-14T04:19:16,湖北省马鞍山市六枝特昆明路B座 559185
1,2,王志强,娟市,数字100科技有限公司,收货员,13073879116,758674,2005-05-03T02:46:52,北京市龙市海陵陈街p座 310672
2,3,康琳,涛市,商软冠联传媒有限公司,猎头/人才中介,18612926156,663199,1999-12-30T00:54:12,上海市石家庄市六枝特徐街U座 522790
3,4,卢颖,福州县,通际名联网络有限公司,家用电器/数码产品研发,15096927123,492538,1988-11-17T07:28:52,北京市银川县西夏万街p座 905765
4,5,邹鑫,杭州市,华成育卓传媒有限公司,医疗器械销售代表,18995281613,533199,1971-09-09T22:58:01,宁夏回族自治区东莞市长寿西宁路w座 883356

In [11]:
merged.set_index('id').to_excel('merged_pepple.xlsx', sheet_name='People')